@model negocios2022.Models.Producto

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unidadMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unidadMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unidadesExistencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unidadesExistencia)
        </dd>

    </dl>

    @using (Html.BeginForm("Eliminar", "Producto", new { idProducto = Model.idProducto })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
