@model List<negocios2022.Models.Producto>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            idProducto
        </th>
        <th>
            nombreProducto
        </th>
        <th>
            idProveedor
        </th>
        <th>
            idCategoria
        </th>
        <th>
            unidadMedida
        </th>
        <th>
            precioUnidad
        </th>
        <th>
            unidadesExistencia
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidadMedida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidadesExistencia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
